.listingCard{
	height: 250px;
	width: 950px;
	float: left;
	border:1px solid #e3e3e3;
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: #e3e3e3;
}

.listingBlock{
	height: auto;
	width: 990px;
	float: left;
	border:1px solid #e3e3e3;
    margin-top: 150px;
    margin-left: 2px;
}

.listingImage{
	float: left;
    height: 100%;
    width: 30%;
    background-color: #fff
}

.listingImage .listingCardImage{
	height: 100%;
	width: 100%;
}

.listinginfo{
	float: right;
	position: auto;
	display: inline;
	width: 70%;
	height: 100%
}