.listingView{
	height: 250px;
	width: 950px;
	float: left;
	border:1px solid #e3e3e3;
    margin-top: 80px;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: #e3e3e3;
    position: absolute;

}